@media (max-width:450px) {

    .div-logo img {
        margin-left: 50px;
        width: 150px;
    }
    
    .menu-opener {
        display: block;
        margin-right: 50px;
     }
     
   
    nav {
        display: none ;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: none;
    }

    .banner h1 {
        font-size: 30px;
    }
    
    .banner h2 {
        font-size: 17px;
    }

    .menu li.active a {
        border: 0;
        color: #b28756;
    }

    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
    }

    .section-aboutus--right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-aboutus--right img{
        width: 100%;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 100%;
        margin-bottom: 20px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-team {
        max-width: 280px;
    }

    .section-projects--filters {
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-companies--area {
        flex-direction: column;
    }

    .section-company {
        margin-bottom: 30px;
    }

    .section-price {
        flex-direction: column;
    }

    .section-price--item {
        margin-right: 0;
    }

    .premium {
        flex-direction: column;
    }

    .section-premium--left {
        margin-top: 20px;
    }

    .section-premium--right {
        margin-left: 20px;
        margin-top: 20px;
    }

    .section-facts {
        flex-direction: column;
    }

    .section-share {
        max-width: 320px;
    }

    .section-share--legend {
        margin-right: 20px;
    }

    .section-map--area {
        width: auto;
    }

    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map--info {
        width: auto;
    }

    .section-map-info--item {
        margin-bottom: 20px;
    }

    .section-map-info--item:last-child {
        margin-bottom: 0;
    }

    #footer-area {
        flex-direction: column;
    }
}