@media (min-width:450px) and (max-width:1024px) {
   
    .div-logo img {
        margin-left: 50px;
        width: 150px;
    }
    
    .menu-opener {
        display: block;
        margin-right: 50px;
     }
     
   
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: none;
    }

    .menu li.active a {
        border: 0;
        color: #b28756;
    }

    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
    }

    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-team {
        max-width: 580px;
    }

    .section-map--area {
        width: auto;
    }

    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map--info {
        width: auto;
    }

    .section-map-info--item {
        margin-bottom: 20px;
    }

    .section-map-info--item:last-child {
        margin-bottom: 0;
    }
}